[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ds-reboot/python-first-part/blob/main/notebooks/hometasks/Task1_dmrf.ipynb)

# Задание
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в БД

# Задание *
* Написать скрипт, который скачивает фотографии всех строящихся объектов с сайта "наш.дом.рф"

In [1]:
import requests

## Список объектов

In [2]:
# Для скачивания данных по

offset_ = 1
limit_ = 100
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()
objects_data.get('data').get('list')[0]

{'hobjId': 39024,
 'objId': 13383,
 'developer': {'devId': 306,
  'shortName': '2МЕН ГРУПП',
  'fullName': '2МЕН ГРУПП',
  'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ',
  'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'},
  'companyGroup': 5776,
  'devInn': '7701651356'},
 'rpdRegionCd': 72,
 'objAddr': 'г Тюмень',
 'objFloorMin': 4,
 'objFloorMax': 20,
 'objElemLivingCnt': 68,
 'objReady100PercDt': '2022-12-31',
 'objSquareLiving': 6296.55,
 'objCompensFundFlg': 1,
 'objProblemFlg': 0,
 'latitude': 57.1519,
 'longitude': 65.5536,
 'problemFlag': 'NONE',
 'siteStatus': 'Строящиеся',
 'objGuarantyEscrowFlg': 0,
 'residentialBuildings': 1,
 'rpdNum': '72-000095',
 'pdId': 28105,
 'buildType': 'Жилое',
 'objStatus': 0}

In [3]:
objects_list = objects_data.get('data').get('list')
objids = [x.get('objId') for x in objects_list]
objids[:10]

[13383, 13398, 13397, 13399, 36912, 10891, 8809, 8810, 39176, 39175]

# Данные по определенному объекту

In [4]:
# Для скачивания данных по определенному объекту, нужно добавить его id в конец строки запроса
#url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/13383'

In [5]:
#res = requests.get(url)
#res.json()

In [6]:
import pandas as pd

In [7]:
offset_ = 1
limit_ = 100
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()

In [8]:
# JSON - JavaScript Object Notattion

In [9]:
type(objects_data)

dict

In [10]:
len(objects_data)

2

In [11]:
result = objects_data.get('data').get('list')

In [12]:
type(result)

list

In [13]:
len(result)

100

In [14]:
print(result[0])

{'hobjId': 39024, 'objId': 13383, 'developer': {'devId': 306, 'shortName': '2МЕН ГРУПП', 'fullName': '2МЕН ГРУПП', 'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ', 'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'}, 'companyGroup': 5776, 'devInn': '7701651356'}, 'rpdRegionCd': 72, 'objAddr': 'г Тюмень', 'objFloorMin': 4, 'objFloorMax': 20, 'objElemLivingCnt': 68, 'objReady100PercDt': '2022-12-31', 'objSquareLiving': 6296.55, 'objCompensFundFlg': 1, 'objProblemFlg': 0, 'latitude': 57.1519, 'longitude': 65.5536, 'problemFlag': 'NONE', 'siteStatus': 'Строящиеся', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '72-000095', 'pdId': 28105, 'buildType': 'Жилое', 'objStatus': 0}

In [15]:
one_object = result[0]

In [16]:
type(one_object)

dict

In [17]:
## Keys and Values

In [18]:
one_object['objId']

13383

In [19]:
one_object['developer']

{'devId': 306,
 'shortName': '2МЕН ГРУПП',
 'fullName': '2МЕН ГРУПП',
 'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ',
 'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'},
 'companyGroup': 5776,
 'devInn': '7701651356'}

In [20]:
## objID developer.shortName objAddr latitude longitude

In [21]:
one_object['developer']['shortName']

'2МЕН ГРУПП'

In [22]:
one_object['objAddr']

'г Тюмень'

In [23]:
one_object['latitude']

57.1519

In [24]:
one_object['longitude']

65.5536

In [25]:
# Process all 100 objects

In [26]:
result = objects_data.get('data').get('list')

In [27]:
len(result)

100

In [28]:
objIds = []
shortNames = []
objAddrs = []
latitudes = []
longitudes = []

In [29]:
for item in result:
    objIds.append(item['objId'])
    shortNames.append(item['developer']['shortName'])
    objAddrs.append(item['objAddr'])
    latitudes.append(item['latitude'])
    longitudes.append(item['longitude'])

In [30]:
len(objIds)

100

In [31]:
len(longitudes)

100

In [32]:
df = pd.DataFrame()

In [33]:
df

Empty DataFrame
Columns: []
Index: []

In [34]:
df['ObjectId'] = objIds
df['ShortName'] = shortNames
df['ObjectAddress'] = objAddrs
df['Latitude'] = latitudes
df['Longitude'] = longitudes

In [35]:
df.shape

(100, 5)

In [36]:
df.head()

,ObjectId,ShortName,ObjectAddress,Latitude,Longitude
0,13383,2МЕН ГРУПП,г Тюмень,57.1519,65.5536
1,13398,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
2,13397,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
3,13399,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
4,36912,CЗ СТРОЙРЕСУРС,"г Ставрополь, ул Шпаковская, Доваторцев, д. 10...",45.0200,41.9346

In [38]:
df.head(100)

,ObjectId,ShortName,ObjectAddress,Latitude,Longitude
0,13383,2МЕН ГРУПП,г Тюмень,57.1519,65.5536
1,13398,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
2,13397,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
3,13399,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
4,36912,CЗ СТРОЙРЕСУРС,"г Ставрополь, ул Шпаковская, Доваторцев, д. 10...",45.0200,41.9346
...,...,...,...,...,...
95,33228,АПРЕЛЕВКА С2,"д Зверево, д. 134",55.5035,36.9352
96,33178,АПРЕЛЕВКА С2,"д Зверево, д. 84",55.5055,36.9347
97,33158,АПРЕЛЕВКА С2,"д Зверево, д. 64",55.4978,36.9284
98,33213,АПРЕЛЕВКА С2,"д Зверево, д. 119",55.5055,36.9306
99,33134,АПРЕЛЕВКА С2,"д Зверево, д. 40",55.5022,36.9291

In [39]:
df.tail()

    ObjectId     ShortName      ObjectAddress  Latitude  Longitude
95     33228  АПРЕЛЕВКА С2  д Зверево, д. 134   55.5035    36.9352
96     33178  АПРЕЛЕВКА С2   д Зверево, д. 84   55.5055    36.9347
97     33158  АПРЕЛЕВКА С2   д Зверево, д. 64   55.4978    36.9284
98     33213  АПРЕЛЕВКА С2  д Зверево, д. 119   55.5055    36.9306
99     33134  АПРЕЛЕВКА С2   д Зверево, д. 40   55.5022    36.9291

In [40]:
df.describe()

           ObjectId    Latitude   Longitude
count    100.000000  100.000000  100.000000
mean   31353.390000   53.298777   48.426468
std    10199.089288    4.433585   18.537429
min     8809.000000   43.579600   20.488400
25%    24035.750000   54.253600   36.933200
50%    33175.000000   55.041600   39.046900
75%    39175.250000   55.505100   61.277250
max    49511.000000   60.144900   83.681900

In [41]:
## Convert to Excel file

In [42]:
df.to_excel("homes.xlsx")

In [43]:
# Save in Pickle

In [44]:
import pickle

In [45]:
with open('homes.pickle', 'wb') as f:
    pickle.dump(df, f)

In [46]:
df.to_pickle('my_df.pickle')

In [47]:
df2 = pd.read_pickle('my_df.pickle')

In [48]:
df2.head()

,ObjectId,ShortName,ObjectAddress,Latitude,Longitude
0,13383,2МЕН ГРУПП,г Тюмень,57.1519,65.5536
1,13398,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
2,13397,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
3,13399,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
4,36912,CЗ СТРОЙРЕСУРС,"г Ставрополь, ул Шпаковская, Доваторцев, д. 10...",45.0200,41.9346

In [49]:
## SQL DataBase
## MySQL MariaDB PostgreSQL ...

In [50]:
## How to get pictures?

In [51]:
# Для скачивания данных по определенному объекту, нужно добавить его id в конец строки запроса
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/13383'

In [52]:
#res = requests.get(url)
#res.json()

In [53]:
## How many objects?

In [54]:
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object'
res = requests.get(url)
objects_data = res.json()
result = objects_data.get('data').get('list')

In [55]:
len(result) ## ?????

10

In [56]:
print(result)

[{'hobjId': 29896, 'objId': 7, 'developer': {'devId': 62, 'shortName': 'ОДИС', 'fullName': 'ОДИС', 'groupName': 'КОРТРОС', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5654, 'devInn': '7703533453'}, 'rpdRegionCd': 77, 'objAddr': 'г Москва, район Теплый стан, ул Профсоюзная, вл. 128', 'objCommercNm': '«ДОМ №128», «ДОМ 128»', 'objFloorMin': 21, 'objFloorMax': 21, 'objElemLivingCnt': 0, 'objReady100PercDt': '2019-04-09', 'objSquareLiving': 0.0, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.6302, 'longitude': 37.5146, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 0, 'rpdNum': '77-000543', 'pdId': 52, 'buildType': 'Нежилое', 'objStatus': 2}, {'hobjId': 14145, 'objId': 8, 'developer': {'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName': 'ЛЭНД ЮГ', 'groupName': 'Гранель', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5848, 'devInn': '5003081800'}, 'rpdRegionCd': 77, 'objAddr': 'д Столбово, д. 2', 'objCommercNm': 'ЖК "Москвичка"', 'objFloorMin': 2, 'objFloorMax': 15, 'objElemLivingCnt': 1553, 'objReady100PercDt': '2019-12-12', 'objSquareLiving': 50459.71, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.5623, 'longitude': 37.4722, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '77-000544', 'pdId': 14, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 3804, 'objId': 9, 'developer': {'devId': 8, 'shortName': 'СЗГРАНЕЛЬ СТРОЙ', 'fullName': 'СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИКГРАНЕЛЬ СТРОЙ', 'groupName': 'Гранель', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5848, 'devInn': '5044094862'}, 'rpdRegionCd': 50, 'objAddr': 'ГОРОД БАЛАШИХА, УЛИЦА ЛУКИНО, вл. 51', 'objCommercNm': 'ЖК "Новая Алексеевская роща"', 'objElemLivingCnt': 108, 'objReady100PercDt': '2018-12-14', 'objSquareLiving': 4312.76, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.8365, 'longitude': 37.9374, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '50-000708', 'pdId': 86, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 13970, 'objId': 10, 'developer': {'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName': 'ЛЭНД ЮГ', 'groupName': 'Гранель', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5848, 'devInn': '5003081800'}, 'rpdRegionCd': 77, 'objAddr': 'п Москва, д. 2, корпус 4', 'objElemLivingCnt': 1376, 'objReady100PercDt': '2019-03-25', 'objSquareLiving': 43524.2, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.5623, 'longitude': 37.4722, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '77-000546', 'pdId': 92, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 14315, 'objId': 11, 'developer': {'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName': 'ЛЭНД ЮГ', 'groupName': 'Гранель', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5848, 'devInn': '5003081800'}, 'rpdRegionCd': 77, 'objAddr': 'поселение Сосенское, вблизи д. Столбово, д. 2, корпус 6', 'objElemLivingCnt': 709, 'objReady100PercDt': '2018-12-12', 'objSquareLiving': 22237.4, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.5623, 'longitude': 37.4722, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '77-000545', 'pdId': 102, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 28170, 'objId': 18, 'developer': {'devId': 37, 'shortName': 'МАРШАЛГЕНСТРОЙ', 'fullName': 'МАРШАЛГЕНСТРОЙ', 'groupName': 'Маршал', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5840, 'devInn': '6658481230'}, 'rpdRegionCd': 66, 'objAddr': 'город Арамиль, улица Космонавтов, д. 15', 'objCommercNm': 'ЖК "Павловский"', 'objFloorMin': 1, 'objFloorMax': 12, 'objElemLivingCnt': 147, 'objReady100PercDt': '2018-12-24', 'objSquareLiving': 5138.4, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 56.6952, 'longitude': 60.798, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '66-000262', 'pdId': 29, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 13342, 'objId': 21, 'developer': {'devId': 95, 'shortName': 'СТРОИТЕЛЬНЫЕ ИНВЕСТИЦИИ', 'fullName': 'СТРОИТЕЛЬНЫЕ ИНВЕСТИЦИИ', 'groupName': 'КОРТРОС', 'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'}, 'companyGroup': 5654, 'devInn': '6658202991'}, 'rpdRegionCd': 77, 'objAddr': 'г Москва, Проспект 40 лет Октября, вл. 36', 'objCommercNm': 'ЛЮБЛИНСКИЙ Дом у сквера', 'objFloorMin': 13, 'objFloorMax': 15, 'objElemLivingCnt': 279, 'objReady100PercDt': '2018-12-18', 'objSquareLiving': 13850.87, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.6736, 'longitude': 37.7454, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '77-000542', 'pdId': 117, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 11358, 'objId': 22, 'developer': {'devId': 185, 'shortName': 'СЗ ННДК', 'fullName': 'СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК НИЖЕГОРОДСКАЯ ДЕВЕЛОПЕРСКАЯ КОМПАНИЯ', 'groupName': 'ННДК', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 8589, 'devInn': '5262274819'}, 'rpdRegionCd': 52, 'objAddr': 'г Нижний Новгород, район Сормовский, улица Лобачевского', 'objCommercNm': 'Жилой комплекс "Циолковский", ЖК "Циолковский"', 'objFloorMin': 16, 'objFloorMax': 16, 'objElemLivingCnt': 105, 'objReady100PercDt': '2019-01-17', 'objSquareLiving': 6515.7, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 56.3386, 'longitude': 43.843, 'complexShortName': 'Циолковский', 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '52-000169', 'pdId': 146, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 25322, 'objId': 23, 'developer': {'devId': 203, 'shortName': 'ГРАНЕЛЬ', 'fullName': 'ГРАНЕЛЬ', 'groupName': 'Гранель', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup': 5848, 'devInn': '5018161287'}, 'rpdRegionCd': 50, 'objAddr': 'сельское поселение Булатниковское, вблизи дер. Лопатино, д. 16.1', 'objCommercNm': 'ЖК "Государев дом"', 'objFloorMin': 10, 'objFloorMax': 10, 'objElemLivingCnt': 199, 'objReady100PercDt': '2018-09-10', 'objSquareLiving': 5748.04, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 55.5285, 'longitude': 37.6464, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '50-000688', 'pdId': 182, 'buildType': 'Жилое', 'objStatus': 2}, {'hobjId': 19532, 'objId': 26, 'developer': {'devId': 138, 'shortName': 'СЗ РУС', 'fullName': 'СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК РЕГИОНАЛЬНОЕ УПРАВЛЕНИЕ СТРОИТЕЛЬСТВА', 'groupName': 'Региональное управление строительства', 'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'}, 'companyGroup': 6931, 'devInn': '7530008329'}, 'rpdRegionCd': 75, 'objAddr': 'город Чита, микрорайон Северный, д. 72', 'objFloorMin': 11, 'objFloorMax': 11, 'objElemLivingCnt': 87, 'objReady100PercDt': '2018-12-21', 'objSquareLiving': 4823.2, 'objCompensFundFlg': 0, 'objProblemFlg': 0, 'latitude': 52.0765, 'longitude': 113.4865, 'problemFlag': 'NONE', 'siteStatus': 'Сданные', 'objGuarantyEscrowFlg': 0, 'residentialBuildings': 1, 'rpdNum': '75-000030', 'pdId': 111, 'buildType': 'Жилое', 'objStatus': 2}]