In [1]:
import pandas as pd

In [2]:
mydf = pd.read_pickle('my_df.pickle')

In [3]:
mydf.shape

(100, 5)

In [4]:

#1. Create a new DB
#2. Create a table in this DB
#3. Upload Pandas dataframe into this table

In [ ]:
'''
CREATE TABLE homes(
objid integer,
shortname varchar(128),
address varchar(128),
latitude numeric (15, 7),
longitude numeric (15, 7)
)

'''

In [5]:
import psycopg2

In [6]:
connect_str = "dbname='DataScience' user='postgres' host='localhost' password='12345'" 
conn = psycopg2.connect(connect_str)
cursor = conn.cursor()
stmt = '''
SELECT 
*
from homes
'''
cursor.execute(stmt)
for row in cursor:
    print(row)

(13383, '2МЕН ГРУПП', 'г Тюмень', Decimal('57.1519000'), Decimal('65.5536000'))

In [7]:
## Add a new record

In [8]:
conn = psycopg2.connect(connect_str)
cursor = conn.cursor()
stmt = '''
INSERT INTO homes
VALUES
(%s, %s, %s, %s, %s );
'''
cursor.execute(stmt, (13388,'3МЕН ГРУПП', 'г Тюмень', 57.1000, 65.5555))
conn.commit()
cursor.close()

In [9]:
connect_str = "dbname='DataScience' user='postgres' host='localhost' password='12345'" 
conn = psycopg2.connect(connect_str)
cursor = conn.cursor()
stmt = '''
SELECT 
*
from homes
'''
cursor.execute(stmt)
for row in cursor:
    print(row)

(13383, '2МЕН ГРУПП', 'г Тюмень', Decimal('57.1519000'), Decimal('65.5536000'))
(13388, '3МЕН ГРУПП', 'г Тюмень', Decimal('57.1000000'), Decimal('65.5555000'))

In [ ]:
'''
CREATE TABLE homes(
objid integer UNIQUE,
shortname varchar(128),
address varchar(128),
latitude numeric (15, 7),
longitude numeric (15, 7)
)

'''

In [10]:
## Iterate all records in DF

In [11]:
for i in range(10):
    print(mydf['ObjectId'].iloc[i])

13383
13398
13397
13399
36912
10891
8809
8810
39176
39175

In [13]:
mydf.head()

,ObjectId,ShortName,ObjectAddress,Latitude,Longitude
0,13383,2МЕН ГРУПП,г Тюмень,57.1519,65.5536
1,13398,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
2,13397,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
3,13399,2МЕН ГРУПП,"г Тюмень, ул Профсоюзная, д. 56",57.1519,65.5544
4,36912,CЗ СТРОЙРЕСУРС,"г Ставрополь, ул Шпаковская, Доваторцев, д. 10...",45.0200,41.9346

In [14]:
for i in range(10):
    print(mydf['ObjectId'].iloc[i], mydf['ShortName'].iloc[i], mydf['ObjectAddress'].iloc[i],
         mydf['Latitude'].iloc[i], mydf['Longitude'].iloc[i])

13383 2МЕН ГРУПП г Тюмень 57.1519 65.5536
13398 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
13397 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
13399 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
36912 CЗ СТРОЙРЕСУРС г Ставрополь, ул Шпаковская, Доваторцев, д. 107, 38, блок-секция БС-1, БС-2, БС-3 45.02 41.9346
10891 ААК ВОЛОГДААГРОСТРОЙ г Вологда, ул Медуницинская, д. 7 59.1985 39.858
8809 АБСОЛЮТ город Южноуральск, улица Сергея Буландо, д. 8 54.4377 61.2772
8810 АБСОЛЮТ город Южноуральск, улица Сергея Буландо, д. 8 54.4377 61.2774
39176 АВА ДЕВЕЛОПМЕНТ ПЛЮС г Краснодар, улица Валерия Гассия, д. 4/7, литера 4 44.9864 39.0701
39175 АВА ДЕВЕЛОПМЕНТ ПЛЮС г Краснодар, улица Валерия Гассия, д. 4/7, литера 3 44.9862 39.0702

In [16]:
for i in range(10):
    print(mydf['ObjectId'].iloc[i], mydf['ShortName'].iloc[i], mydf['ObjectAddress'].iloc[i],
         mydf['Latitude'].iloc[i], mydf['Longitude'].iloc[i])

13383 2МЕН ГРУПП г Тюмень 57.1519 65.5536
13398 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
13397 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
13399 2МЕН ГРУПП г Тюмень, ул Профсоюзная, д. 56 57.1519 65.5544
36912 CЗ СТРОЙРЕСУРС г Ставрополь, ул Шпаковская, Доваторцев, д. 107, 38, блок-секция БС-1, БС-2, БС-3 45.02 41.9346
10891 ААК ВОЛОГДААГРОСТРОЙ г Вологда, ул Медуницинская, д. 7 59.1985 39.858
8809 АБСОЛЮТ город Южноуральск, улица Сергея Буландо, д. 8 54.4377 61.2772
8810 АБСОЛЮТ город Южноуральск, улица Сергея Буландо, д. 8 54.4377 61.2774
39176 АВА ДЕВЕЛОПМЕНТ ПЛЮС г Краснодар, улица Валерия Гассия, д. 4/7, литера 4 44.9864 39.0701
39175 АВА ДЕВЕЛОПМЕНТ ПЛЮС г Краснодар, улица Валерия Гассия, д. 4/7, литера 3 44.9862 39.0702

In [17]:
###

In [23]:
connect_str = "dbname='DataScience' user='postgres' host='localhost' password='12345'"
for i in range(10):
    conn = psycopg2.connect(connect_str)
    cursor = conn.cursor()
    stmt = '''
    INSERT INTO homes2
    VALUES
    (%s, %s, %s, %s, %s );
    '''
    cursor.execute(stmt, (int(mydf['ObjectId'].iloc[i]), mydf['ShortName'].iloc[i], mydf['ObjectAddress'].iloc[i],
         mydf['Latitude'].iloc[i], (mydf['Longitude'].iloc[i])))
    conn.commit()
    cursor.close()

In [25]:
##mydf.info()

In [28]:
connect_str = "dbname='DataScience' user='postgres' host='localhost' password='12345'"
for i in range(99, 100):
    conn = psycopg2.connect(connect_str)
    cursor = conn.cursor()
    stmt = '''
    INSERT INTO homes2
    VALUES
    (%s, %s, %s, %s, %s );
    '''
    cursor.execute(stmt, (int(mydf['ObjectId'].iloc[i]), mydf['ShortName'].iloc[i], mydf['ObjectAddress'].iloc[i],
         mydf['Latitude'].iloc[i], (mydf['Longitude'].iloc[i])))
    conn.commit()
    cursor.close()

UniqueViolation: ОШИБКА:  повторяющееся значение ключа нарушает ограничение уникальности "homes2_objid_key"
DETAIL:  Ключ "(objid)=(33212)" уже существует.

In [29]:
mydf.tail()

    ObjectId     ShortName      ObjectAddress  Latitude  Longitude
95     33180  АПРЕЛЕВКА С2   д Зверево, д. 86   55.5057    36.9340
96     33134  АПРЕЛЕВКА С2   д Зверево, д. 40   55.5022    36.9291
97     33213  АПРЕЛЕВКА С2  д Зверево, д. 119   55.5055    36.9306
98     33158  АПРЕЛЕВКА С2   д Зверево, д. 64   55.4978    36.9284
99     33212  АПРЕЛЕВКА С2  д Зверево, д. 118   55.5056    36.9301

In [30]:
### Task2_dmrf_visual

In [33]:
import requests

In [34]:
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/36774'

In [35]:
res = requests.get(url)
objects_data = res.json()

In [36]:
objects_data

{'data': {'id': 36774,
  'hobjId': 117025,
  'pdId': 351714,
  'developer': {'devId': 6926,
   'devShortCleanNm': 'ОКЕАН',
   'devShortNm': 'ОКЕАН',
   'devFullCleanNm': 'ОКЕАН',
   'problObjCnt': 0,
   'buildObjCnt': 1,
   'comissObjCnt': 0,
   'regRegionDesc': 'Башкортостан Республика',
   'devPhoneNum': '+7(927)300-31-01',
   'devSite': 'altun-yar.ru',
   'devEmail': 'khabibovr@mail.ru',
   'devInn': '0277093608',
   'devOgrn': '1080277004521',
   'devKpp': '027701001',
   'devLegalAddr': 'Башкортостан Республика, город Уфа, проспект Проспект Октября дом 85',
   'devFactAddr': 'Респ Башкортостан Город Уфа Проспект Октября д. 85',
   'lastRpdId': 511041,
   'fundGuarantyFlg': 0,
   'devOrgRegRegionCd': 2,
   'devEmplMainFullNm': 'Хабибов Рамиль Хамидуллович',
   'developerGroupName': 'Океан',
   'orgForm': {'id': 4,
    'fullForm': 'Общество с ограниченной ответственностью',
    'shortForm': 'ООО'},
   'companyGroupId': 7250,
   'objGuarantyEscrowFlg': 1,
   'govFundFlg': 0},
  'region': 2,
  'address': 'г Уфа, ул Прибельская, д. 32, 32/1, 34',
  'floorMin': 5,
  'floorMax': 9,
  'objElemLivingCnt': 0,
  'objReady100PercDt': '2024-09-30',
  'wallMaterialShortDesc': 'Монолит-кирпич',
  'objLkFinishTypeDesc': 'Без отделки',
  'objLkFreePlanDesc': 'Есть',
  'objElemParkingCnt': 73,
  'objSquareLiving': 0.0,
  'rpdNum': '02-001200',
  'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/8455bc4e-fc18-46c6-b684-f86c7fe3da85',
  'rpdIssueDttm': '07-10-2021 09:15',
  'objLkLatitude': '54.6871',
  'objLkLongitude': '55.9563',
  'objCompensFundFlg': 0,
  'objProblemFlg': 0,
  'objLkClassDesc': 'Типовой',
  'loadDttm': '15-12-2022 01:22',
  'photoRenderDTO': [{'objId': 36774,
    'pdId': 351714,
    'rpdId': 511041,
    'devId': 6926,
    'ordNum': 1,
    'objRenderPhotoSize': 406650,
    'objRenderPhotoUrl': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/7d361bd3-f91d-47ac-a468-19ba445ce116',
    'objRenderPhotoDttm': '25-08-2020 12:17',
    'objRenderPhotoHiddenFlg': 0,
    'objRenderPhotoNm': '1.jpg',
    'objReadyDesc': 'Строится',
    'objBuildTypeShortDesc': 'Нежилое',
    'knFlg': 0,
    'loadDttm': '15-12-2022 01:05'},
   {'objId': 36774,
    'pdId': 351714,
    'rpdId': 511041,
    'devId': 6926,
    'ordNum': 2,
    'objRenderPhotoSize': 474129,
    'objRenderPhotoUrl': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/f4cd2621-6ed8-42c6-a864-105d08dc8fed',
    'objRenderPhotoDttm': '25-08-2020 12:17',
    'objRenderPhotoHiddenFlg': 0,
    'objRenderPhotoNm': '21.jpg',
    'objReadyDesc': 'Строится',
    'objBuildTypeShortDesc': 'Нежилое',
    'knFlg': 0,
    'loadDttm': '15-12-2022 01:05'}],
  'objGuarantyEscrowFlg': 1,
  'objectType': 'normal',
  'miniUrl': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/882375c0-5d57-471d-9998-2ea99f0d81d9',
  'residentialBuildings': 0,
  'newBuildingId': 117025,
  'objFloorCnt': 9,
  'objFlatCnt': 0,
  'objFlatSq': '0.0',
  'objNonlivElemCnt': 173,
  'objStatus': 0,
  'isAvailableWantLiveHere': True,
  'objTransferPlanDt': '31-08-2024 12:00',
  'objInfrstrBicycleLaneFlg': 0,
  'objInfrstrPlaygrndCnt': 0,
  'objInfrstrSportGroundCnt': 0,
  'objInfrstrTrashAreaCnt': 0,
  'objInfrstrObjPrkngCnt': 0,
  'objInfrstrNotObjPrkngCnt': 0,
  'objInfrstrRampFlg': 0,
  'objInfrstrCurbLoweringFlg': 0,
  'objElevatorWheelchairCnt': 0,
  'objElevatorPassengerCnt': 5,
  'objElevatorCargoCnt': 0,
  'objElevatorCargoPassengerCnt': 0,
  'soldOutPerc': 1.0,
  'objPriceAvg': 45187,
  'generalContractorNm': 'ООО НЕРУД ИНВЕСТ (ИНН: 0277077148)',
  'nonlivFirstFloor': 1,
  'objectTransportInfo': [],
  'conclusion': False,
  'objLkSaleDepEmail': 'khabibovr@mail.ru',
  'objGreenHouseFlg': 0,
  'objEnergyEffShortDesc': 'C',
  'infrastructureIndexValue': 4},
 'errcode': '0'}

In [ ]:
# 'objFloorCnt': 9,
# 'objPriceAvg': 45187,
# 'objInfrstrObjPrkngCnt': 0,
# 'objNonlivElemCnt': 173,
# 'regRegionDesc': 'Башкортостан Республика'

In [40]:
offset_ = 1
limit_ = 10
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()
result = objects_data.get('data').get('list')
objIds = []
shortNames = []
objAddrs = []
latitudes = []
longitudes = []
objFloorCnt = []
objPriceAvg = []
objInfrstrObjPrkngCnt = []
objNonlivElemCnt = []
regRegionDesc = []
for item in result:
    objIds.append(item['objId'])
    shortNames.append(item['developer']['shortName'])
    objAddrs.append(item['objAddr'])
    latitudes.append(item['latitude'])
    longitudes.append(item['longitude'])
   # objFloorCnt.append(item['objFloorCnt'])
   # objPriceAvg.append(item['objPriceAvg'])
   # objInfrstrObjPrkngCnt.append(item['objInfrstrObjPrkngCnt'])
   # objNonlivElemCnt.append(item['objNonlivElemCnt'])
    regRegionDesc.append(item['regRegionDesc'])

KeyError: 'regRegionDesc'

In [41]:
result = objects_data.get('data')

In [43]:
len(result)

2

In [46]:
type(result)

dict

In [47]:
result.keys()

dict_keys(['list', 'total'])

In [50]:
result['total']

10767